<p-toast></p-toast>
<div class="chat-room">
    <div class="chat-room__header">
        <avatar [name]="chatVisibleName" *ngIf="selectedChatId != '' && !loading" [size]="'3rem'"/>
        <div class="chat-room_info" *ngIf="selectedChatId != '' && !loading">
            <p id="chat-name">{{chatVisibleName}}</p>
            <p id="chat-id" (click)="navigator.clipboard.writeText(selectedChatId)">{{selectedChatId}}</p>
        </div>
    </div>
    <div class="chat-room__main" *ngIf="selectedChatId != '' && !loading">
        <div class="chat-room__box">
            <chat-room-message
                *ngFor="let message of chatRoomData.messages"
               [message]="message"
               [ngStyle]="{'justify-content':message.authorUsername == 'orleans.master' ? 'flex-end' : 'flex-start'}"/>
        </div>
        <div class="chat-room__message-editor" fullCenteredFlex>
            <div class="message-input-area" >
                <input class="message-input" type="text" placeholder="Write your message here" [(ngModel)]="newMessage"/>
                <button class="message-submit-button" fullCenteredFlex (click)="sendMessage()">
                    <lucide-angular name="send" [size]="28" color="white"/>
                </button>
            </div>
        </div>
    </div>
    <div class="no-element-container" *ngIf="selectedChatId == ''">
        <p id="title">SELECT A FRIEND</p>
        <p id="subtitle">and start chatting with them</p>
        <img id="no-chat-image" src="./assets/no-chat.png" alt="no users image">
    </div>
</div>
